NUMPY

In [3]:
import numpy as np

data = np.genfromtxt(r"C:\Users\ASUS\Downloads\auto-mpg.csv", delimiter=",", skip_header=1)

In [ ]:
#The mean, median, and standard deviation of mpg.
mpg = numeric_data[:, 0]
mean_mpg = np.nanmean(mpg)
median_mpg = np.nanmedian(mpg)
std_mpg = np.nanstd(mpg)

print("Mean MPG =", mean_mpg)
print("Median MPG =", median_mpg)
print("Std MPG =", std_mpg)

Mean MPG = 23.514572864321607
Median MPG = 23.0
Std MPG = 7.806159061274433

In [30]:
# Cars with MPG > 25
print("Cars with MPG > 25 =", np.sum(mpg > 25))

Cars with MPG > 25 = 158

In [50]:
#2. filter all cars with more than 6 cylinders.
data = np.genfromtxt(r"C:\Users\ASUS\Downloads\auto-mpg.csv",
                     delimiter=",", skip_header=1, dtype=str)

cylinders = data[:, 1].astype(int)

filtered_cars = data[cylinders > 6]

car_names = filtered_cars[:, -1]

car_name_list = car_names.tolist()

print("Cars with more than 6 cylinders:")
print(car_name_list)

Cars with more than 6 cylinders:
['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl', 'dodge challenger se', "plymouth 'cuda 340", 'chevrolet monte carlo', 'buick estate wagon (sw)', 'ford f250', 'chevy c20', 'dodge d200', 'hi 1200d', 'chevrolet impala', 'pontiac catalina brougham', 'ford galaxie 500', 'plymouth fury iii', 'dodge monaco (sw)', 'ford country squire (sw)', 'pontiac safari (sw)', 'chevrolet impala', 'pontiac catalina', 'plymouth fury iii', 'ford galaxie 500', 'amc ambassador sst', 'mercury marquis', 'buick lesabre custom', 'oldsmobile delta 88 royale', 'chrysler newport royal', 'amc matador (sw)', 'chevrolet chevelle concours (sw)', 'ford gran torino (sw)', 'plymouth satellite custom (sw)', 'buick century 350', 'amc matador', 'chevrolet malibu', 'ford gran torino', 'dodge coronet custom', 'mercury marquis brougham', 'chevrolet caprice classic', 'ford ltd', 'plymouth fury gran sedan', 'chrysler new yorker brougham', 'buick electra 225 custom', 'amc ambassador brougham', 'chevrolet impala', 'ford country', 'plymouth custom suburb', 'oldsmobile vista cruiser', 'chevrolet monte carlo s', 'pontiac grand prix', 'dodge dart custom', 'oldsmobile omega', 'ford gran torino', 'buick century luxus (sw)', 'dodge coronet custom (sw)', 'ford gran torino (sw)', 'amc matador (sw)', 'pontiac catalina', 'chevrolet bel air', 'plymouth grand fury', 'ford ltd', 'chevrolet monza 2+2', 'ford mustang ii', 'chevrolet chevelle malibu classic', 'dodge coronet brougham', 'amc matador', 'ford gran torino', 'plymouth volare premier v8', 'cadillac seville', 'chevy c10', 'ford f108', 'dodge d100', 'chevrolet caprice classic', 'oldsmobile cutlass supreme', 'dodge monaco brougham', 'mercury cougar brougham', 'pontiac grand prix lj', 'chevrolet monte carlo landau', 'chrysler cordoba', 'ford thunderbird', 'oldsmobile cutlass salon brougham', 'dodge diplomat', 'mercury monarch ghia', 'chevrolet monte carlo landau', 'ford futura', 'dodge magnum xe', 'chevrolet caprice classic', 'ford ltd landau', 'mercury grand marquis', 'dodge st. regis', 'buick estate wagon (sw)', 'ford country squire (sw)', 'chevrolet malibu classic (sw)', 'chrysler lebaron town @ country (sw)', 'cadillac eldorado', 'oldsmobile cutlass salon brougham', 'oldsmobile cutlass ls']

In [51]:
data = np.genfromtxt(
    r"C:\Users\ASUS\Downloads\auto-mpg.csv",
    delimiter=",",
    skip_header=1,
    dtype=str
)

# 3. Compute the 25th, 50th, and 75th percentiles of the weight column using NumPy.

numeric = data[:, :-1]              # All columns except last
car_names = data[:, -1]             # Last column

numeric[numeric == "?"] = "nan"

numeric = numeric.astype(float)

weight = numeric[:, 4]

p25 = np.nanpercentile(weight, 25)
p50 = np.nanpercentile(weight, 50)
p75 = np.nanpercentile(weight, 75)

print("25th Percentile of Weight:", p25)
print("50th Percentile (Median) of Weight:", p50)
print("75th Percentile of Weight:", p75)

25th Percentile of Weight: 2223.75
50th Percentile (Median) of Weight: 2803.5
75th Percentile of Weight: 3608.0

In [52]:
# 4. Convert the acceleration column into a NumPy array and normalize its values(scale between 0 and 1).
acceleration = numeric[:, 5]

# Convert to float
acceleration = acceleration.astype(float)

# Min-max normalization: scaled = (x - min) / (max - min)
acc_min = np.nanmin(acceleration)
acc_max = np.nanmax(acceleration)

acc_normalized = (acceleration - acc_min) / (acc_max - acc_min)

print("Normalized Acceleration Values:")
print(acc_normalized)

Normalized Acceleration Values:
[0.23809524 0.20833333 0.17857143 0.23809524 0.14880952 0.11904762
 0.05952381 0.0297619  0.11904762 0.0297619  0.11904762 0.
 0.08928571 0.11904762 0.41666667 0.44642857 0.44642857 0.47619048
 0.38690476 0.74404762 0.56547619 0.38690476 0.56547619 0.26785714
 0.41666667 0.35714286 0.41666667 0.32738095 0.625      0.38690476
 0.44642857 0.35714286 0.6547619  0.29761905 0.44642857 0.44642857
 0.44642857 0.44642857 0.23809524 0.20833333 0.32738095 0.29761905
 0.20833333 0.23809524 0.23809524 0.32738095 0.6547619  0.41666667
 0.38690476 0.35714286 0.35714286 0.68452381 0.38690476 0.6547619
 0.5952381  0.6547619  0.74404762 0.44642857 0.53571429 0.92261905
 0.68452381 0.50595238 0.23809524 0.23809524 0.32738095 0.29761905
 0.20833333 0.17857143 0.32738095 0.32738095 0.26785714 0.32738095
 0.26785714 0.35714286 0.47619048 0.35714286 0.38690476 0.5952381
 0.68452381 0.5952381  0.47619048 0.53571429 0.38690476 0.41666667
 0.50595238 0.29761905 0.20833333 0.29761905 0.38690476 0.26785714
 0.20833333 0.23809524 0.29761905 0.38690476 0.17857143 0.17857143
 0.17857143 0.50595238 0.5952381  0.47619048 0.50595238 0.47619048
 0.77380952 0.35714286 0.26785714 0.29761905 0.26785714 0.41666667
 0.6547619  0.68452381 0.50595238 0.32738095 0.625      0.35714286
 0.44642857 0.29761905 0.08928571 0.68452381 0.44642857 0.35714286
 0.44642857 0.17857143 0.35714286 0.32738095 0.17857143 0.50595238
 0.53571429 0.47619048 0.53571429 0.6547619  0.50595238 0.77380952
 0.53571429 0.53571429 0.5952381  0.50595238 0.35714286 0.38690476
 0.32738095 0.47619048 0.44642857 0.50595238 0.44642857 0.38690476
 0.50595238 0.6547619  0.38690476 0.44642857 0.35714286 0.41666667
 0.44642857 0.47619048 0.47619048 0.47619048 0.77380952 0.68452381
 0.20833333 0.35714286 0.38690476 0.32738095 0.77380952 0.625
 0.6547619  0.6547619  0.41666667 0.32738095 0.23809524 0.47619048
 0.53571429 0.47619048 0.625      0.32738095 0.50595238 0.53571429
 0.38690476 0.35714286 0.53571429 0.41666667 0.53571429 0.38690476
 0.32738095 0.56547619 0.44642857 0.5297619  0.41071429 0.57738095
 0.43452381 0.29761905 0.29761905 0.35119048 0.28571429 0.44047619
 0.38690476 0.57142857 0.57142857 0.8452381  0.83928571 0.36904762
 0.55952381 0.57738095 0.77380952 0.48809524 0.58333333 0.25
 0.53571429 0.5        0.33333333 0.45833333 0.30952381 0.82738095
 0.44642857 0.51785714 0.24404762 0.23809524 0.41666667 0.35714286
 0.625      0.4047619  0.63095238 0.44642857 0.52380952 0.26785714
 0.6547619  0.33928571 0.41071429 0.5        0.5297619  0.57738095
 0.6547619  0.18452381 0.20238095 0.25       0.38690476 0.38690476
 0.47619048 0.60714286 0.46428571 0.53571429 0.4702381  0.5
 0.36309524 0.38690476 0.28571429 0.32738095 0.80357143 0.38095238
 0.67857143 0.63095238 0.5        0.44642857 0.30952381 0.28571429
 0.66666667 0.60714286 0.46428571 0.44047619 0.54761905 0.54761905
 0.46428571 0.51785714 0.63690476 0.42261905 0.30952381 0.32142857
 0.19047619 0.33928571 0.50595238 0.36904762 0.39880952 0.38690476
 0.4047619  0.51785714 0.57142857 0.41071429 0.4702381  0.33333333
 0.45833333 0.46428571 0.41071429 0.51190476 0.44047619 0.60714286
 0.55357143 0.60714286 0.51190476 0.44047619 0.32142857 0.30952381
 0.42857143 0.41071429 0.375      0.41666667 0.29761905 0.35714286
 0.42857143 0.38095238 0.41666667 0.7202381  0.55952381 1.
 0.8452381  0.30952381 0.41071429 0.66666667 0.39880952 0.47619048
 0.19642857 0.29166667 0.30952381 0.39880952 0.64285714 0.44642857
 0.5        0.50595238 0.60119048 0.7202381  0.63690476 0.46428571
 0.44642857 0.56547619 0.41666667 0.42857143 0.58928571 0.38095238
 0.66666667 0.81547619 0.93452381 0.70833333 0.82142857 0.3452381
 0.55357143 0.5952381  0.43452381 0.20238095 0.26785714 0.42261905
 0.375      0.53571429 0.45833333 0.5        0.38095238 0.27380952
 0.29166667 0.5297619  0.5        0.48214286 0.58333333 0.67857143
 0.55357143 0.47619048 0.41071429 0.48809524 0.75595238 0.36904762
 0.46428571 0.38095238 0.52380952 0.4047619  0.61309524 0.73809524
 0.69047619 0.27380952 0.3452381  0.46428571 0.6547619  0.54166667
 0.51190476 0.69047619 0.63095238 0.5952381  0.48809524 0.47619048
 0.5952381  0.5        0.74404762 0.43452381 0.60714286 0.57142857
 0.39880952 0.55357143 0.38690476 0.38690476 0.5297619  0.41666667
 0.45833333 0.48809524 0.5        0.53571429 0.38690476 0.39880952
 0.35119048 0.29761905 0.55357143 0.45238095 0.98809524 0.21428571
 0.63095238 0.67857143]

In [53]:
# 5. Increase all horsepower values by 10% and store the updated values in a newNumPy array. Handle missing data (if any) by replacing it with the mean of the column before applying the increase.
horsepower = numeric[:, 3].astype(float)

hp_mean = np.nanmean(horsepower)
horsepower_filled = np.where(np.isnan(horsepower), hp_mean, horsepower)

horsepower_updated = horsepower_filled * 1.10

print("Original Horsepower (first 10):", horsepower[:10])
print("Horsepower After 10% Increase (first 10):", horsepower_updated[:10])

Original Horsepower (first 10): [130. 165. 150. 150. 140. 198. 220. 215. 225. 190.]
Horsepower After 10% Increase (first 10): [143.  181.5 165.  165.  154.  217.8 242.  236.5 247.5 209. ]

In [ ]:
# 6. Find the average displacement of cars with an origin of 2 (Europe) using NumPy indexing.
displacement = numeric[:, 2].astype(float)
origin = numeric[:, 7].astype(float)

european_cars = displacement[origin == 2]

avg_displacement = np.nanmean(european_cars)

print("Average displacement of European cars:", avg_displacement)

Average displacement of European cars: 109.14285714285714

In [54]:
#7. Matrix Operations

mpg = numeric[:, 0].astype(float)
hp = numeric[:, 3].astype(float)
weight = numeric[:, 4].astype(float)

hp_mean = np.nanmean(hp)
hp = np.where(np.isnan(hp), hp_mean, hp)

X = np.column_stack((mpg, hp, weight))

v = np.array([1, 0.5, -0.2])

dot_result = np.dot(X, v)

print("Dot product result (first 10 values):")
print(dot_result[:10])

Dot product result (first 10 values):
[-617.8 -641.1 -594.2 -595.6 -602.8 -754.2 -746.8 -740.9 -758.5 -660. ]

In [55]:
# 8. Sorting
model_year = numeric[:, 6].astype(float)

sorted_indices = np.argsort(model_year)[::-1]

top_5_cars = car_names[sorted_indices][:5]

print("Top 5 cars by model year:")
for car in top_5_cars:
    print(car)

Top 5 cars by model year:
chevy s-10
ford ranger
dodge rampage
vw pickup
ford mustang gl

In [ ]:
# 9. Correlation
mpg = numeric[:, 0].astype(float)
weight = numeric[:, 4].astype(float)

correlation_matrix = np.corrcoef(mpg, weight)
pearson_corr = correlation_matrix[0, 1]

print("Pearson Correlation between MPG and Weight:", pearson_corr)

Pearson Correlation between MPG and Weight: -0.8317409332443354

In [56]:
# 10.Conditional Aggregates
mpg = numeric[:, 0].astype(float)
cylinders = numeric[:, 1].astype(float)

unique_cyl = np.unique(cylinders)

print("Mean MPG by Cylinder Count:\n")
for cyl in unique_cyl:
    mean_mpg = np.mean(mpg[cylinders == cyl])
    print(f"{int(cyl)} cylinders: {mean_mpg:.2f}")

Mean MPG by Cylinder Count:

3 cylinders: 20.55
4 cylinders: 29.29
5 cylinders: 27.37
6 cylinders: 19.99
8 cylinders: 14.96

In [49]:
print(data)

[['18' '8' '307' ... '70' '1' 'chevrolet chevelle malibu']
 ['15' '8' '350' ... '70' '1' 'buick skylark 320']
 ['18' '8' '318' ... '70' '1' 'plymouth satellite']
 ...
 ['32' '4' '135' ... '82' '1' 'dodge rampage']
 ['28' '4' '120' ... '82' '1' 'ford ranger']
 ['31' '4' '119' ... '82' '1' 'chevy s-10']]

PANDAS

In [2]:
import pandas as pd

In [25]:
# 1

df = pd.read_csv(r"C:\Users\ASUS\Downloads\auto-mpg.csv")
print(df.head(10))
print(df.shape)
print(df.describe())

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70
5  15.0          8         429.0        198    4341          10.0          70
6  14.0          8         454.0        220    4354           9.0          70
7  14.0          8         440.0        215    4312           8.5          70
8  14.0          8         455.0        225    4425          10.0          70
9  15.0          8         390.0        190    3850           8.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
5       1           ford galaxie 500
6       1           chevrolet impala
7       1          plymouth fury iii
8       1           pontiac catalina
9       1         amc ambassador dpl
(398, 9)
              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000

In [29]:
# 2

df.columns = ["mpg","cylinders","displacement","horsepower","weight","acceleration","model_year","origin","car_name"]

df["weight"] = pd.to_numeric(df["weight"], errors="coerce")
df["model_year"] = pd.to_numeric(df["model_year"], errors="coerce")

filtered = df[(df["model_year"] == 75) & (df["weight"] < 3000)]

result = filtered[["car_name", "weight", "mpg"]]

print(result)

              car_name  weight   mpg
167     toyota corolla    2171  29.0
168         ford pinto    2639  23.0
169        amc gremlin    2914  20.0
170      pontiac astro    2592  23.0
171      toyota corona    2702  24.0
172  volkswagen dasher    2223  25.0
173         datsun 710    2545  24.0
174         ford pinto    2984  18.0
175  volkswagen rabbit    1937  29.0
177         audi 100ls    2694  23.0
178        peugeot 504    2957  23.0
179        volvo 244dl    2945  22.0
180          saab 99le    2671  25.0
181   honda civic cvcc    1795  33.0

In [28]:
# 3

df.columns = ["mpg","cylinders","displacement","horsepower",
              "weight","acceleration","model_year","origin","car_name"]


df["horsepower"] = pd.to_numeric(df["horsepower"], errors="coerce")

print("Missing values in each column:")
print(df.isna().sum())

median_hp = df["horsepower"].median()

df["horsepower"] = df["horsepower"].fillna(median_hp)

print("\nMissing values after filling horsepower column:")
print(df.isna().sum())

Missing values in each column:
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

Missing values after filling horsepower column:
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [30]:
# 4

df["horsepower"] = pd.to_numeric(df["horsepower"], errors="coerce")
df["weight"] = pd.to_numeric(df["weight"], errors="coerce")

df["power_to_weight_ratio"] = df["horsepower"] / df["weight"]

print(df[["car_name", "horsepower", "weight", "power_to_weight_ratio"]].head())

                    car_name  horsepower  weight  power_to_weight_ratio
0  chevrolet chevelle malibu       130.0    3504               0.037100
1          buick skylark 320       165.0    3693               0.044679
2         plymouth satellite       150.0    3436               0.043655
3              amc rebel sst       150.0    3433               0.043694
4                ford torino       140.0    3449               0.040591

In [31]:
# 5

origin_map = {1: "USA", 2: "Europe", 3: "Japan"}
df["origin_name"] = df["origin"].map(origin_map)

mean_mpg_by_origin_named = df.groupby("origin_name")["mpg"].mean()

print("\nMean MPG by Origin (Labeled):")
print(mean_mpg_by_origin_named)

Mean MPG by Origin (Labeled):
origin_name
Europe    27.891429
Japan     30.450633
USA       20.083534
Name: mpg, dtype: float64

In [36]:
# 6

top_10_mpg = df.sort_values(by='mpg', ascending=False).head(10)
print(top_10_mpg)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
322  46.6          4          86.0        65.0    2110          17.9
329  44.6          4          91.0        67.0    1850          13.8
325  44.3          4          90.0        48.0    2085          21.7
394  44.0          4          97.0        52.0    2130          24.6
326  43.4          4          90.0        48.0    2335          23.7
244  43.1          4          90.0        48.0    1985          21.5
309  41.5          4          98.0        76.0    2144          14.7
330  40.9          4          85.0        93.5    1835          17.3
324  40.8          4          85.0        65.0    2110          19.2
247  39.4          4          85.0        70.0    2070          18.6

     model_year  origin                         car_name  \
322          80       3                        mazda glc
329          80       3              honda civic 1500 gl
325          80       2             vw rabbit c (diesel)
394          82       2                        vw pickup
326          80       2               vw dasher (diesel)
244          78       2  volkswagen rabbit custom diesel
309          80       2                        vw rabbit
330          80       2             renault lecar deluxe
324          80       3                       datsun 210
247          78       3                   datsun b210 gx

     power_to_weight_ratio origin_name  performance_score
322               0.030806       Japan           0.395327
329               0.036216       Japan           0.332692
325               0.023022      Europe           0.461060
394               0.024413      Europe           0.508169
326               0.020557      Europe           0.440505
244               0.024181      Europe           0.466826
309               0.035448      Europe           0.284538
330               0.050954      Europe           0.385597
324               0.030806       Japan           0.371261
247               0.033816       Japan           0.354029

In [14]:
def performance_score(row):
    return row['mpg'] * row['acceleration'] / row['weight']

df['performance_score'] = df.apply(performance_score, axis=1)
print(df[['mpg', 'acceleration', 'weight', 'performance_score']].head())

    mpg  acceleration  weight  performance_score
0  18.0          12.0    3504           0.061644
1  15.0          11.5    3693           0.046710
2  18.0          11.0    3436           0.057625
3  16.0          12.0    3433           0.055928
4  17.0          10.5    3449           0.051754

In [35]:
# 7

def performance_score(row):
    return row['mpg'] * row['acceleration'] / row['weight']

df['performance_score'] = df.apply(performance_score, axis=1)

In [16]:
df[['mpg', 'acceleration', 'weight', 'performance_score']].head()

    mpg  acceleration  weight  performance_score
0  18.0          12.0    3504           0.061644
1  15.0          11.5    3693           0.046710
2  18.0          11.0    3436           0.057625
3  16.0          12.0    3433           0.055928
4  17.0          10.5    3449           0.051754

In [34]:
# 8

summary_df = df.groupby('model_year').agg({
    'mpg': 'mean',
    'weight': 'mean',
    'horsepower': 'mean'
}).reset_index()

print(summary_df)

    model_year        mpg       weight  horsepower
0           70  17.689655  3372.793103  147.827586
1           71  21.250000  2995.428571  106.553571
2           72  18.714286  3237.714286  120.178571
3           73  17.100000  3419.025000  130.475000
4           74  22.703704  2877.925926   94.203704
5           75  20.266667  3176.800000  101.066667
6           76  21.573529  3078.735294  101.117647
7           77  23.375000  2997.357143  105.071429
8           78  24.061111  2861.805556   99.694444
9           79  25.093103  3055.344828  101.206897
10          80  33.696552  2436.655172   78.586207
11          81  30.334483  2522.931034   81.465517
12          82  31.709677  2453.548387   81.854839

In [33]:
# 9


high_mpg_cars = df[df['mpg'] > 30][['mpg', 'cylinders', 'horsepower', 'weight']]

high_mpg_cars.to_csv("high_mpg_cars.csv", index=False)

pd.read_csv("high_mpg_cars.csv").head()

    mpg  cylinders  horsepower  weight
0  31.0          4        65.0    1773
1  35.0          4        69.0    1613
2  31.0          4        67.0    1950
3  32.0          4        65.0    1836
4  31.0          4        52.0    1649

In [24]:
# 10


Q1 = df['mpg'].quantile(0.25)
Q3 = df['mpg'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Q1:", Q1)
print("Q3:", Q3)
print("IQR:", IQR)
print("Lower bound for outliers:", lower_bound)
print("Upper bound for outliers:", upper_bound)

outliers = df[(df['mpg'] < lower_bound) | (df['mpg'] > upper_bound)]

outliers_df = outliers[['car_name', 'mpg', 'model_year']]
outliers_df

Q1: 17.5
Q3: 29.0
IQR: 11.5
Lower bound for outliers: 0.25
Upper bound for outliers: 46.25

      car_name   mpg  model_year
322  mazda glc  46.6          80